<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @arquivo.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @arquivo.autor %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @arquivo.ano %>
</p>

<p>
  <strong>Licenca:</strong>
  <%= @arquivo.licenca %>
</p>

<%= link_to 'Edit', edit_arquivo_path(@arquivo) %> |
<%= link_to 'Back', arquivos_path %>
